@import url("https://fonts.googleapis.com/css?family=Sofia");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: #f3f3f3;
    font-family: 'poppins' , sans-serif;
}

.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px
}
.heading{
    background: #e84343;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
}
.food-items img{
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
 }

 h1{
    grid-column: 1/-1;
    text-align: center;
 }

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}

.details-sub>h5{
    font-weight: 600;
    font-size: 100;
}

.price{
    text-align: right;
}

.details>p{
    column-count: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background: #e84343;
    border: none;
    columns: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
}

footer {
    background-color: #e84343;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  h3 {
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
